table {
  width: 100%;
  border-top-width: 0;
  border-right-width: 0;
  border-bottom-width: 0;
  border-left-width: 0;
  border-spacing: 0;
}

th {
  background-color: #eee;
  height: 30px;
  text-align: center
}

td, th {
  text-indent: 5px;
  color: #444;
  border-bottom: 1px solid #bbb;
  border-left: 1px solid #bbb;
  overflow: hidden;

  &:last-child{
    border-right: 1px solid #bbb
  }
}

th{
  border-top: 1px solid #bbb;
}


